/* ✅ Importation de la police Roboto depuis Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* ✅ Styles globaux pour le corps de la page */
body {
  padding: 0;
  /* 🔹 Supprime les espaces internes par défaut */
  margin: 0;
  /* 🔹 Supprime les marges externes par défaut */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* 🔹 Définit une liste de polices de secours  */
}

/* ✅ Applique des styles globaux à tous les éléments */
* {
  box-sizing: border-box;
  /* 🔹 Assure que width et height incluent le padding et border */
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  /* 🔹 Définit la police par défaut */

  /* ✅ Style spécifique pour les boutons */
  button {
    cursor: pointer;
    /* 🔹 Change le curseur en mode "main" pour indiquer qu’il est cliquable */
  }
}