@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Étire les composants sur toute la largeur */
  justify-content: flex-start; /* Aligne tout en haut */
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover, .title a:focus, .title a:active {
  text-decoration: underline;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around; /* Permet de bien répartir les cartes */
  align-items: flex-start; /* Aligne en haut */
  gap: 200px;
  width: 100%;
  padding: 80px;
  max-width: 1200px; /* Ajuste selon la taille voulue */
  margin: 0 auto; /* Centre le contenu sans l'écraser */
}

